* {
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    overflow: auto;
    color: #4a4a4a;
}

header {
    z-index: 10;
    position: fixed;
    display: flex;
    background-color: white;
    border-bottom: 1px solid black;
    height: 10%;
    width: 100%;
    font-family: 'Open Sans', Tahoma;
}

header img {
    height: 100%;
    float: left;
    padding: 10px;
}

header p {
    margin-top: 2%;
    position: relative;
}

.banner {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
}


.main-title {
    position: absolute;
    width: 100%;
    z-index: 1;

    margin-top: 20%;

    background-color: transparent;
    color: black;
    text-align: center;
    font-family: Copperplate;
    font-size: 60px;
}

.index-page {
    position: sticky;
    width: 100%;
    z-index: 2;
    display: flex;

    margin-top: 47%;
    padding-top: 5%;

    font-family: 'Open Sans', 'Tahoma';
    background-color: white;
}

.page {
    position: sticky;
    width: 100%;
    z-index: 2;
    display: flex;

    margin-top: 5%;
    padding-top: 5%;

    font-family: 'Open Sans', 'Tahoma';
    background-color: white;
}

.sidebar {
    margin-left: 3rem;
}

li {
    line-height: 30px;
}

a {
    color: firebrick;
}

.li a:hover {
    color: crimson;
}

#sidebar-title {
    color: #4a4a4a;
    text-align: center;
}

.content {
    position: relative;
    background-color: transparent;
    width: 50%;
    margin: 0 auto;
    right: 60px;
}

.content p {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 16px;
}

.blog-post img {
    max-height: 250px;
}


h2 {
    font-family: Copperplate;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px auto;
    font-size: 32px;
    color: black;
}

.blog-date {
    margin-top: 30px;
    margin-bottom: 10px;
}

.page-title {
    font-family: Copperplate;
    color: black; 
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.pictures {
    margin-top: 20px;
}

.caption {
    font-size: 14px;
    line-height: 20px;
}