* {
    font-family: "Tahoma";
    background: snow;
}

.blog_date {
    text-transform: uppercase;
}

.section_header {
    font-family: Copperplate, Courier New;
}

[a] {
    color: crimson;
}

a:hover {
    color: maroon;
}
