body {
    margin: 0;
    padding: 0;
    background-color: white;
}
.content {
    font-family: Tahoma;
    line-height: 26px;
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
}

#large_title {
    margin: 40px auto;
    font-size: 40px;
}

.section_header {
    font-family: Copperplate, Courier New;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 50px auto;
    margin-bottom: 20px;
    
}

.blog_date {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

[a] {
    color: crimson;
}

a:hover {
    color: maroon;
}

h2 {
    font-size: 30px;
}

p {
    color: dimgray;
    font-size: 18px;
    margin: 20px auto;
    text-align: justify;
}

.pictures {
    margin: 0 auto;
}

img {
    width: 45%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pictures p {
    font-size: 12px;
    margin: 0;
}

.info {
    font-family: Tahoma;
    border: 1px solid LightGrey;
    padding: 20px 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .info a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 20px;
    padding: 14px;
    text-decoration: none;
  }
  
  .info a:hover {
    background: white;
    border: 1px solid red;
    color: red;
  }